
html{
    background-color: black;
}
h1{
    text-transform: uppercase;
}
.text{
    font-family: 'Libre Baskerville', serif;
    color:white;
    text-align: center;
}
img{
    border: 5px solid white ;
    height: 400px;
    width:600px;
    width: 100%;
}
div{
    width:50%;
    margin-left:25%;
    margin-top:3.5%;
    
}
